html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Athiti", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #fff;
  color: #01001a;
  font-size: 2rem;
}

main {
  padding: 2rem;
}

footer {
  background-color: #d7e1c0;
  padding: 5rem;
}

h1,
h2,
h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #e60101;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.1rem;
}

.hero {
  background: url(../images/tesla-hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

.hero-text {
  background-color: rgba(215, 225, 192, 0.75);
  width: 100%;
  text-align: center;
}

.events-box {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-shrink: 5;
  justify-content: center;
}

#events {
  width: 100%;
}

#events img {
  max-width: 70rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

@media screen and (min-width: 1048px) {
  #events img {
    width: 40rem;
  }
}

@media screen and (max-width: 700px) {
  #events img {
    max-width: 60rem;
  }
}

@media screen and (max-width: 400px) {
  #events img {
    max-width: 30rem;
  }
}

.organizers-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.organizer {
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.organizer img {
  max-width: 70rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1048px) {
  .organizer img {
    width: 40rem;
  }
}

@media screen and (max-width: 700px) {
  .organizer img {
    max-width: 60rem;
  }
}

@media screen and (max-width: 400px) {
  .organizer img {
    max-width: 30rem;
  }
}
