html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Athiti", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #d7e1c0;
  color: #005ce6;
  font-size: 2rem;
}

h1,
h2,
h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #e52312;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.1rem;
}

.hero {
  background: url(../images/tesla-hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  background-color: rgba(215, 225, 192, 0.75);
  width: 100%;
  text-align: center;
}

#events img {
  width: 40rem;
  height: auto;
}

.organizers-box {
  display: flex;
}

.organizer img {
  width: 40rem;
  height: auto;
}
